<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<hr />
		<!--用nocache包裹的块会不缓存-->
		{{nocache}}
		<div>
			<!--如果session里面的uname存在就算登陆-->
			{{if $smarty.session.uname}}
				欢迎 {{$smarty.session.uname}} 回来 <a href="./out.php">退出</a>
			{{else}}
				<a href="./login.php">登陆</a>
			{{/if}}
		</div>
		{{/nocache}}
		<hr />
		<p>第{{$smarty.get.p}}页</p>
		<table border="1" >
			<tr>
				<td>sid</td>
				<td>姓名</td>
				<td>性别</td>
				<td>操作</td>
			</tr>
			{{foreach from=$data item=v}}
			<tr>
				<td>{{$v.sid}}</td>
				<td>{{$v.sname}}</td>
				<td>{{$v.sex}}</td>
				<td><a href="./del.php?id={{$v.sid}}">删除</a></td>
			</tr>
			{{/foreach}}
		</table>
	</body>
</html>
