@import url(common.css);
/*页脚 开始*/
/*承诺 图标 开始*/
.promise{
	width: 1225px;
	height: 52px;
	background: #524B4A;
	margin: 0 auto;
}
.promise p{
	width: 407px;
	height: 52px;
	float: left;
}
.promise_left{
	border-right: 1px solid #453E3D;
}
.promise_middle{
	border-left: 1px solid #5F5756;
	border-right: 1px solid #453E3D;
}
.promise_right{
	border-left: 1px solid #5F5756;
}
.promise_left a{
	display: block;
	width: 120px;
	height: 52px;
	background: url(../Images/promise.png) no-repeat 0px 0px;
	margin: 0 auto;
}
.promise_middle a{
	display: block;
	width: 120px;
	height: 52px;
	background: url(../Images/promise.png) no-repeat -140px 0px;
	margin: 0 auto;
}
.promise_right a{
	display: block;
	width: 130px;
	height: 52px;
	background: url(../Images/promise.png) no-repeat -280px 0px;
	margin: 0 auto;
}
/*承诺 图标 结束*/
/*新手指南、购物保障、支付方式、服务中心 区块 开始*/
.service{
	width: 1225px;
	height: 115px;
	padding: 20px 0px 25px;
	margin: 0 auto;
}
.service div{
	width: 306px;
	height: auto;
	overflow: hidden;
	float: left;
}
.service dl{
	width: 130px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
.service dl dt{
	height: 30px;
	font-family: '微软雅黑';
	font-size: 14px;
	color: #333;
	line-height: 26px;
	margin-bottom: 5px;
	padding-left: 36px;
}
.newer_guide dt{
	background: url(../Images/service.png) no-repeat 0px 0px;
}
.shop_secure dt{
	background: url(../Images/service.png) no-repeat 0px -30px;
}
.pay_method dt{
	background: url(../Images/service.png) no-repeat 0px -60px;
}
.service_center dt{
	background: url(../Images/service.png) no-repeat 0px -90px;
}
.service dl dd{
	padding-left: 35px;
}
.service dl dd p a{
	color: #999;
	line-height: 20px;
}
.service dl dd p a:hover{
	color: #F27239;
}
/*新手指南、购物保障、支付方式、服务中心 区块 结束*/
/*页脚公司信息 区块 开始*/
.footer{
	width: 100%;
	height: 115px;
	padding: 25px 0px;
	border-top: 1px solid #E3DAD9;
}
.footer_con{
	width: 700px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
.introduce{
	font-family: Arial;
	line-height: 26px;
	text-align: center;
	color: #ccc;
}
.introduce a{
	color: #666;
	padding: 0px 5px;
}
.introduce a:hover{
	color: #F27239;
}
.copy{
	text-align: center;
	color:#666;
	line-height: 26px;
}
.trust{
	text-align:center;
	margin-top: 10px;
}
/*页脚公司信息 区块 结束*/
/*页脚结束*/

/*回顶部 按钮 开始*/
.back{
	width: 40px;
	height: 40px;
	background: url(../Images/common.png) no-repeat -210px -150px;
	position: fixed;
	cursor: pointer;
	right: 15px;
	bottom: 15px;
	display: none;
	z-index: 1000;
}
/*回顶部 按钮 结束*/