<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="Public/bts/css/bootstrap.min.css"/>
	<style type="text/css">
		.box{
			margin: 20px auto;
			width: 680px;
		}
	</style>
<div class="box">
<form action="" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">班级名称</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入班级" name="cname" required="">
  </div>
  <button type="submit" class="btn btn-success">添加</button>
  <a href="" class="btn btn-info">返回</a>
</form>
</div>	
	
	
	
	
	
	
	
</body>
</html>